hr {
    outline: none;
    border: 0.5px solid #E0E3E2;
}

footer {
    background-color: #F0F3F2;
    padding-top: 70px;
    padding-bottom: 80px;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
    row-gap: 30px;
    margin-bottom: 20px;
}

.footer__links div:nth-of-type(2) {
    margin-top: 36px;
}

.footer__links div > p {
    font-size: 14px;
    color: #001E2B;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

.footer__links div > a {
    display: block;
    font-size: 13px;
    color: #666b72;
    font-weight: bold;
    line-height: 2.2;
    letter-spacing: 0.5px;
    transition: color .2s ease-out;
}

.footer__links div > a:hover {
    color: #0AAD0A;
    cursor: pointer;
}

.footer__payments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
    flex-wrap: wrap;
    row-gap: 20px;
}

.footer__partners {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.footer__partners p,
.footer__apps p {
    font-size: 14px;
    color: #001E2B;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 0.5px;
}
.footer__apps {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.footer__apps > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.footer__apps > p {
    margin-right: 12px;
}

.footer__apps img {
    width: 140px;
}

hr:nth-of-type(2) {
    margin-bottom: 25px;
}

.footer__copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.footer__copy > p:first-of-type {
    font-size: 12px;
    color: #8C959E;
    width: 600px;
}

.footer__copy > p:first-of-type a {
    color: #0AAD0A;
    font-weight: bold;
    text-decoration: none;
}

.footer__copy > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy > div > div i {
    margin-right: 2px;
    text-align: center;
    border: 1px solid #8C959E;
    color: #8C959E;
    padding: 3px 5px;
    border-radius: 8px;
    transition: all .2s ease-out;
}

.footer__copy > div > div i:hover {
    color: #0AAD0A;
    border: 1px solid #0AAD0A;
    cursor: pointer;
}

.footer__copy > div > p {
    font-size: 12px;
    color: #8C959E;
    width: max-content;
    margin-right: 13px;
}

@media screen and (max-width: 550px) {
    .footer__apps {
        flex-direction: column;
    }

    .footer__apps > p {
        align-self: flex-start;
    }
}

@media screen and (max-width: 370px) {
    .footer__links > div:nth-of-type(2) {
        margin-top: -30px;
    }

    .footer__partners {
        flex-direction: column;
    }

    .footer__partners > p {
        align-self: flex-start;
    }
}

@media screen and (max-width: 360px) {
    .footer__apps img {
        width: 107px;
    }
}