@font-face {
    src: url("../fonts/NHaasGroteskTXPro-55Rg.ttf");
    font-family: 'Neue regular';
}
@font-face {
    src: url("../fonts/NHaasGroteskTXPro-65Md.ttf");
    font-family: 'Neue medium';
}
@font-face {
    src: url("../fonts/NHaasGroteskTXPro-75Bd.ttf");
    font-family: 'Neue bold';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Neue regular";
}

:root {
    --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
    accent-color: #3DBC3E;
}

.form__control {
    font-family: "Neue regular";
    font-size: 15px;
    padding: 11px 17px;
    border: none;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #8C959E;
    background-color: #fff;
    color: #8A8D8F;
}

.container {
    padding: 10px 9.5%;
    margin: 0 auto;
}

/* HEADER */

header {
    padding: 10px 0 7px;
    border-bottom: 1px solid #E2E5E4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.menu__btn {
    display: none;
}

.menu__btn > img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    object-fit: cover;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header__r1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    margin-right: 10px;
}

.header__title > .title__figure {
    width: 32px;
    height: 26px;
    line-height: 40px;
    text-align: center;
    margin-right: 5px;
}

.header__title > .title {
    color: #20303B;
    font-size: 25px;
}

.title__figure > .figure__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__mid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.search__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 411px;
    position: relative;
    border: 1px solid #DFE2E1;
    border-radius: 8px;
}

.header__search {
    border: none;
    border-radius: 8px;
    color: #51555b;
}

.header__search::placeholder {
    color: #8C959E;
}

.header__search-btn {
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    position: absolute;
    right: 0;
    transition: color .2s ease;
}

.header__search-btn:hover {
    color: #0AAD0A;
    cursor: pointer;
}

.header__location-btn {
    color: #8A8D8F;
    width: max-content;
    background-color: #fff;
    transition: all .2s ease;
}

.header__location-btn:hover {
    border: 1px solid #0AAD0A;
    color: #0AAD0A;
    cursor: pointer;
}

.header__location-btn:hover > i {
    color: #0AAD0A;
}

.header__location-btn i {
    margin-left: 10px;
}

.header__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
}

.header__btns i {
    color: #8A8D8F;
    font-size: 18px;
    padding: 5px;
    position: relative;
    transition: color .2s ease;
}

.header__btns.get i::after {
    content: "1";
    font-size: 10px;
    text-align: center;
    line-height: 17px;
    display: block;
    position: absolute;
    top: -3px;
    right: -3px;
    background-color: #198754;
    color: #fff;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.header__btns i:hover {
    color: #0AAD0A;
    cursor: pointer;
}

.header__r2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.header__departments-btn {
    background-color: #0AAD0A;
    color: #fff;
    border: none;
    width: 182px;
    margin-right: 20px;
    transition: background-color .2s ease-out;
}

.header__departments-btn:hover {
    background-color: #0c800c;
    cursor: pointer;
}

.header__selects {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.header__select {
    border: none;
    width: auto;
    color: #51555b;
    font-weight: 700;
    font-size: 14px;
}

option {
    padding: 5px 0;
}

.header__left {
    display: none;
    left: -350px;
}

.header__left.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    left: 0;
    z-index: 1001;
}

.header__left > .header__exit {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.header__left > .header__exit:hover {
    cursor: pointer;
}

.header__left > .header__exit > i {
    font-size: 20px;
    color: #777777;
}

.background.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000077;
    z-index: 1000;
}

/* HERO */

.hero__section {
    margin-top: 23px;
}

.hero__cards {
    position: relative;
    margin-right: -8.5px;
}

.hero__card {
    height: 544px;
    border-radius: 10px;
    padding: 130px 67px;
    position: relative;
    overflow: hidden;
    margin-right: 8.5px;
}

.card__texts {
    position: relative;
    z-index: 1;
}

.hero__card img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 550px;
}

.card__p {
    font-size: 11px;
    font-weight: bold;
    padding: 2px 3px;
    background-color: #FFC107;
    width: max-content;
    border-radius: 5px;
}

.card__title {
    margin-top: 20px;
    width: 400px;
    font-size: 45px;
    font-family: "Neue medium";
    color: #001E2B;
    letter-spacing: 1.2px;
}

.card__title span {
    color: #0AAD0A;
    font-family: "Neue medium";
}

.card__p:nth-of-type(2) {
    padding: 0;
    background-color: transparent;
    color: #5E6D76;
    font-size: 18px;
    margin-top: 12px;
    width: 350px;
    line-height: 1.5;
    position: relative;
    z-index: 1;
}

.card__cta {
    display: inline-block;
    margin-top: 28px;
    padding: 12px 17px;
    background-color: #001E2B;
    color: #fff;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: background-color .2s ease;
}

.card__cta > i {
    margin-left: 5px;
}

.card__cta:hover {
    cursor: pointer;
    background-color: #002838;
}

ul.slick-dots {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

ul.slick-dots > li {
    margin: -0.5px;
}

ul.slick-dots > li > button::before {
    font-size: 8px;
}

/* CATEGOIRES */

.categories__section {
    margin-top: 35px;
    margin-bottom: 35px;
}

.categories__section .slick-track {
    padding-bottom: 12px;
}

.categories__title {
    font-size: 25px;
    color: #001E2B;
    position: relative;
    top: -7px;
}

.categories__cards {
    margin-top: 22px;
    margin-right: -17px;
    position: relative;
}

.categories__card {
    width: 264px;
    height: 220px !important;
    margin-right: 17px;
    padding: 30px 40px;
    border-radius: 10px;
    border: 1px solid #E0E3E2;
    transition: all .15s ease-out;
}

.categories__card:hover {
    border: 1px solid #3DBC3E;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.categories__card > figure {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 13px;
    overflow: hidden;
}

.categories__card > figure > .categories__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categories__desc {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #5E6D76;
}

.categories__cards button.slick-prev::before, .categories__cards button.slick-next::before{
    color: #3DBC3E;
}

.categories__cards button.slick-prev:before, .categories__cards button.slick-next:before{
    font-size: 38px;
    font-weight: lighter;
}

.categories__cards .slick-prev, .categories__cards .slick-next {
    position: absolute !important;
    top: -47px;
}

.categories__cards .slick-prev {
    left: calc(100% - 93px);
}

.categories__cards .slick-next {
    right: 32px;
}

/* OFFERS */

.offers__container {
    margin-top: 20px;
}

.offers__cards {
    margin-right: -32px;
}

.offers__card {
    width: 537px;
    height: 208px;
    background-color: #EDEBE6;
    border-radius: 10px;
    padding: 30px 30px;
    margin-right: 32px;
    position: relative;
    overflow: hidden;
}

.offers__card .card__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
}

.offers__texts {
    position: relative;
    z-index: 1;
}

.offers__card .card__title {
    font-size: 25px;
    margin-bottom: 8px;
}

.offers__card .card__p {
    font-size: 14px;
    background-color: transparent;
    color: #5E6D76;
    padding: 0;
}

.offers__card .card__p span {
    font-family: "Neue medium";
}

.offers__card .card__cta {
    margin-top: 18px;
}

/* PRODUCTS */

.products__section {
    margin-top: 65px;
    margin-bottom: 20px;
}

.products__section .categories__title {
    margin-bottom: 20px;
}

.products__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(207px, 100%), 1fr));
    margin-right: -13px;
    row-gap: 13px;
}

.products__card figure {
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 auto 48px;
    overflow: hidden;
}

.products__card figure:hover {
    cursor: pointer;
}

.products__card figure img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products__card {
    height: 336px;
    padding: 20px 15px 17px;
    position: relative;
    border-radius: 7.5px;
    border: 1px solid #E0E3E2;
    transition: all .3s ease-out;
    margin-right: 13px;
}

.products__card:hover {
    border: 1px solid #0AAD0A;
    box-shadow: var(--box-shadow);
}

.products__card:hover > .products__button {
    z-index: 0;
    opacity: 100;
}

.products__p {
    display: none;
    position: absolute;
    font-size: 11px;
    font-family: "Neue medium";
    padding: 2px 6px;
    color: #fff;
    background-color: dodgerblue;
    width: max-content;
    border-radius: 5px;
}

.products__desc {
    font-size: 12px;
    color: #5E6D76;
    font-weight: bold;
    margin-bottom: 7px;
}

.products__own {
    font-size: 13.5px;
    color: #001E2B;
    font-weight: bold;
    margin-bottom: 8px;
}

.products__stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 17px;
}

.products__stars > div {
    margin-right: 5px;
}

.products__stars i {
    font-size: 11px;
    margin-right: -1.2px;
    color: #FFC107;
}

.products__rate {
    font-size: 12px;
    color: #5E6D76;
    margin-top: 4px;
}

.products__price {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
    align-items: center;
    position: absolute;
    bottom: 17px;
    left: 15px;
}

.products__price .price {
    font-size: 14px;
    font-family: "Neue medium";
}

.products__price .price span {
    color: #5E6D76;
    text-decoration: line-through;
}

.products__cta {
    display: inline-block;
    background-color: #0AAD0A;
    color: #fff;
    padding: 7px 9px;
    border-radius: 5px;
    font-size: 12px;
    font-family: "Neue medium";
    transition: background-color .2s ease-out;
}

.products__cta:hover {
    background-color: #0c800c;
    cursor: pointer;
}

.products__cta i {
    margin-right: 3px;
}

.products__button {
    position: absolute;
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
    z-index: -1;
    opacity: 0;
}

.products__button:hover {
    background-color: #0AAD0A;
    color: #fff;
    cursor: pointer;
}

.products__button:hover::before {
    display: block;
    line-height: 1;
    padding: 8px 10px;
    position: absolute;
    width: max-content;
    background-color: rgba(0, 30, 43, 0.92);
    color: #fff;
    font-size: 13px;
    border-radius: 8px;
    top: -36px;
}

.products__button:hover::after{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    background-color: rgba(0, 30, 43, 0.92);
    clip-path: polygon(50% 53%, 0 0, 100% 0);
    top: -7px;
    left: 11px;
}

.products__button.view:hover::before {
    content: "Quick View";
    left: -27px;
}

.products__button.heart:hover::before {
    content: "Wishlist";
    left: -17px;
}

.products__button.arrows:hover::before {
    content: "Compare";
    left: -23px;
}

.products__button.heart {
    left: calc(50% - 17px);
    top: calc(50% - 48px);
}

.products__button.view {
    left: calc(50% - 54px);
    top: calc(50% - 48px);
}

.products__button.arrows {
    left: calc(50% + 20px);
    top: calc(50% - 48px);
}

.products__p.sale {
    display: inline-block;
    background-color: #DA2B2D;
}

.products__p.discount {
    display: inline-block;
    background-color: #198754;
}

/* SELLS */

.sells__section {
    margin-top: 60px;
}

.sells__daily {
    width: 264px;
    height: 469px;
    overflow: hidden;
    padding: 30px;
    margin-right: 13px;
    border-radius: 8px;
    background-image: url('https://cdn.discordapp.com/attachments/1129195909796860029/1177344921397633104/cafe.jpg?ex=65722ae7&is=655fb5e7&hm=e98ec62c89d728697f0aa21782c70d78fce85fec7c4216176643e7965e080771&');
    background-size: cover;
    background-position-x: -20px;
    color: #fff;
}

.sells__cards {
    width: 75%;
}

.daily__title {
    margin-bottom: 12px;
}

.daily__p {
    font-size: 13px;
    font-weight: bold;
    word-spacing: 1.5px;
    letter-spacing: 1px;
}

.card__cta.daily {
    background-color: #0AAD0A;
    margin-top: 22px;
}

.card__cta.daily:hover {
    background-color: #0c800c;
    cursor: pointer;
}

.sells__section .categories__title {
    margin-bottom: 20px;
}

.sells__section .categories__title + div {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.sells__cards .products__card {
    width: 264px;
    height: 534px;
    padding-top: 30px;
}

.sells__cards .products__card figure {
    width: 170px;
    height: 170px;
}

.sells__cards .products__stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sells__cards .products__stars > div {
    width: 100px;
    margin-right: 0;
}

.sells__cards .products__stars > div > p {
    margin-left: 2px;
    display: inline-block;
}

.sells__cards .products__card .products__button {
    top: calc(50% - 105px);
}

.sells__cards .price {
    font-size: 14px;
    font-family: "Neue medium";
}

.sells__cards .price span {
    color: #5E6D76;
    text-decoration: line-through;
}

.sells__cards .products__own {
    margin-bottom: 13px;
}

.sells__cards .products__cta.form__control {
    padding: 12px 17px;
    font-size: 13px;
    text-align: center;
    font-family: "Neue regular";
    font-weight: bold;
    border: none;
}

.digits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 14px;
}

.separe {
    width: 61px;
    height: 57px;
    padding: 10px;
    border: 1px solid #E0E3E2;
    border-radius: 10px;
    text-align: center;
}

.separe > p:first-of-type {
    font-size: 13.5px;
    color: #001E2B;
    font-weight: bold;
}

.separe > p:last-of-type {
    font-size: 13px;
    color: #8C959E;
    font-weight: bold;
}

/* BENEFITS */

.benefits__section {
    margin-top: 90px;
    margin-bottom: 90px;
}

.benefits__benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(240px, 100%), 1fr));
    gap: 30px;
}

.benefits__benefit > i {
    display: inline-block;
    font-size: 35px;
    color: #0AAD0A;
    margin-bottom: 20px;
}

.benefits__benefit > p:first-of-type {
    font-size: 17px;
    color: #001E2B;
    font-weight: bold;
    margin-bottom: 13px;
}

.benefits__benefit > p:last-of-type {
    font-size: 13px;
    color: #74858f;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 0.5px;
}

.benefits__benefit > p:last-of-type span {
    color: #0AAD0A;
}

/* MEDIA QUERYS */
@media screen and (min-width: 1366px) {
    .container {
        padding: 10px 129.766px;
        max-width: 1366px;
    }
}

@media screen and (max-width: 1150px) {
    .sells__cards {
        width: 70%;
    }
}

@media screen and (max-width: 1050px) {
    .search__container {
        width: 300px;
    }

    .hero__card {
        height: 450px !important;
        padding: 100px 67px;
    }

    .hero__card img {
        width: 450px;
        right: -80px;
    }

    .card__p:nth-of-type(2) {
        font-size: 12px;
    }

    .card__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 960px){
    .offers__card {
        padding: 20px;
    }

    .offers__card .card__img {
        width: 270px;
    }

    .offers__card .card__title {
        font-size: 20px;
    }

    .offers__card .card__p {
        font-size: 12px;
    }

    .sells__cards {
        width: 62%;
    }
}

@media screen and (max-width: 915px) {
    .form__control {
        font-size: 12px;
        padding: 9px 15px;
    }

    .header__search-btn {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

@media screen and (min-width: 865px) {
    .background {
        display: none;
    }

    .header__left.active {
        display: none;
    }
}

@media screen and (max-width: 865px) {
    .background.active {
        transition: all .2s ease-out;
    }

    .header__left.active {
        transition: all .2s ease-out;
    }

    .menu__btn {
        border: none;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__btns {
        width: auto;
    }

    .header__mid {
        position: fixed;
        top: 0;
        left: -350px;
        flex-direction: column;
        background-color: #fff;
        padding: 13px;
        z-index: 1001;
    }

    .header__mid.active {
        left: 0;
        transition: all .2s ease-out;
    }

    .header__mid > .header__location-btn {
        width: 100%;
    }

    .header__r2 {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        width: 326px;
        left: -350px;
        top: 130px;
        padding: 13px;
        background-color: #fff;
        z-index: 1001;
    }

    .header__r2.active {
        left: 0;
        height: 100%;
        transition: all .2s ease-out;
    }

    .header__departments-btn {
        margin: 0;
        justify-self: flex-start;
        width: 100%;
    }

    .header__selects {
        flex-direction: column;
        align-content: flex-start;
        width: 100%;
    }

    .header__selects > select {
        width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .hero__card {
        height: 400px !important;
    }

    .hero__card img {
        width: 400px;
    }

    .card__title {
        font-size: 28px;
        width: 330px;
    }

    .card__p:nth-of-type(2){
        width: 300px;
    }

    .sells__cards {
        width: 55%;
    }
}

@media screen and (max-width: 650px) {
    .hero__card img {
        right: -130px;
    }

    .sells__container > div {
        flex-direction: column;
        row-gap: 20px;
    }

    .sells__cards {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .hero__card {
        height: 300px !important;
        padding: 40px 50px;
    }

    .hero__card img {
        width: 300px;
        right: -70px;
    }

    .card__p:nth-of-type(2) {
        width: 200px;
    }

    .card__cta {
        padding: 10px;
        font-size: 12px;
        margin-top: 10px;
    }

    .sells__cards .products__cta {
        padding: 10px !important;
        font-size: 12px !important;
        margin-top: 10px !important;
    }

    .sells__cards .products__card figure {
        width: 130px;
        height: 130px;
    }

    .categories__title {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .header__title .title {
        font-size: 15px;
    }

    .card__p:first-of-type {
        font-size: 8px;
    }

    .card__title {
        font-size: 20px;
        width: 200px;
    }

    .card__p:nth-of-type(2) {
        font-size: 10px;
    }

    .card__cta {
        padding: 10px 10px;
        font-size: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 490px){
    .categories__card {
        padding: 10px 20px;
        height: 150px !important;
    }

    .categories__card figure {
        width: 90px;
        height: 90px;
    }

    .categories__desc {
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {
    .hero__card img {
        right: -120px;
    }

    .categories__section {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .products__section {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .categories__cards .slick-prev, .categories__cards .slick-next {
        top: -34px;
    }

    .categories__cards {
        margin-top: 10px;
    }

    .sells__section {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 400px) {
    .hero__card img {
        right: -150px;
    }
}

@media screen and (max-width: 370px) {
    .hero__card {
        padding: 60px 30px;
    }
}

@media screen and (max-width: 336px) {
    .categories__title {
        width: 100px !important;
    }

    .categories__cards .slick-prev, .categories__cards .slick-next {
        top: -40px;
    }
}

@media screen and (max-width: 326px) {
    .header__r2 {
        width: 100%;
    }

    .header__mid {
        width: 100%;
    }

    .search__container {
        width: 100%;
    }

    .hero__card img {
        right: -200px;
    }

    .sells__daily {
        width: 100%;
    }
}
