header {
    padding: 10px 0 7px;
    border-bottom: 1px solid #E2E5E4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0; right: 0; left: 0;
    background-color: #fff;
    z-index: 1000;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header__r1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    margin-right: 10px;
}

.header__title > .title__figure {
    width: 32px;
    height: 26px;
    line-height: 40px;
    text-align: center;
    margin-right: 5px;
}

.header__title > .title {
    color: #20303B;
    font-size: 25px;
}

.title__figure > .figure__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__p {
    font-size: 14px;
    color: #001E2B;
}

.header__link {
    text-decoration: none;
}

.header__link {
    color: #0AAD0A;
}

.signup__section {
    margin-top: 150px;
    margin-bottom: 80px;
}

.signup__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup__section figure {
    width: 350px;
    height: 350px;
}

.signup__section figure img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form__control {
    font-family: "Neue regular";
    font-size: 15px;
    padding: 11px 17px;
    border: none;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #DFE2E1;
    background-color: #fff;
    color: #8A8D8F;
    margin-bottom: 13px;
}

form {
    width: 348px;
    margin-left: 130px;
}

form h3 {
    font-size: 28px;
    color: #001E2B;
    margin-bottom: 7px;
}

form p:first-of-type {
    font-size: 14px;
    font-weight: bold;
    color: #5E6D76;
    margin-bottom: 45px;
}

input[type="email"] + div {
    position: relative;
}

.view__button {
    position: absolute;
    top: calc(50% - 15px);
    right: 16px;
    height: 16px;
    line-height: 16px;
    background-color: transparent;
    border: none;
}

.view__button:hover {
    cursor: pointer;
}

.pass-view {
    color: #5E6D76;
    font-size: 16px !important;
}

input[type="submit"] {
    background-color: #0AAD0A;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    transition: background-color .2s ease-out;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #0c800c;
}

form p:last-of-type {
    font-size: 12px;
    color: #5E6D76;
    font-weight: bold;
}

form p:last-of-type span {
    color: #0AAD0A;
}

@media screen and (max-width: 950px) {
    form {
        margin-left: 10%;
    }
}

@media screen and (max-width: 890px) {
    .signup__section {
        margin-top: 120px;
    }

    .signup__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signup__container figure {
        margin-bottom: 40px;
    }

    form h3 {
        text-align: center;
    }

    form p {
        text-align: center;
    }

    form p:last-of-type {
        text-align: left;
    }

    form {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .header__r1 {
        flex-wrap: wrap;
        row-gap: 5px;
    }
}

@media screen and (max-width: 428px) {
    form {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .signup__section figure {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 350px) {
    .signup__section figure {
        width: 250px;
        height: 250px;
    }
}